[user]
	name = Sebastian Lech
	email = lechum2@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	chekcout = checkout
 	config-fetch = config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
[pull]
	rebase = true
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = nvim -c \"Gvdiffsplit!\" \"$MERGED\"
[mergetool]
	keepBackup = false
[color]
	ui = auto
